/* CSS Document */
body {
	height: 100%;
}

#pageHead {
	width: 100%;
	margin: 0px 0px 2em 0px;
	padding: 1em;
	background-color:#000;
	color: #EEE;
}

#pageHead h1 {
	margin: 0px;
}

#pageHead p {
	margin-left: 40px
}

#pageHead img {
	height: 75px;
	width: auto;
}

.skill {
	background-color: #FEFEFE;
	border: 1px solid #CCC;
}
.skill h2 {
	display: inline-block;
	font-size: 1.2em;
	width: 60%;
	margin: 5px 0px 10px 10px;
	color:#06C;
	font-weight: bold;
}

.skill h3 {
	font-size: 1em;
	margin: 0px;
	text-align: center;
	color: #09F;
}

.skill div {
	display: inline-block;
}

.skill .cost {
	text-align: right;
	width: 35%;
}

.skill .cost b {
	font-size: 0.8em;
}

.skill .info {
	display: inline-block;
	font-size: 0.9em;
	margin: 0px 8px;
}

.skill p, .skill skill-desc {
	margin: 0px;
	padding: 10px;
	display: block;
	font-size: 0.95em;
}

.skillDrop {
	border: 1px #777 dashed;
	background-color:#EEE;
	padding: 0.5em;
	margin: 10px 0px;
	text-align: center;
	vertical-align: middle;
	color: #777;
}

.stam { color:#360; font-weight: bold; }
.magk { color:#339; font-weight: bold; }
.ultm { color:#666; font-weight: bold; }
.health { color:#900; font-weight: bold; }

.dmg-flame { background-color:#900 }
.dmg-ice { background-color:#09F }
.dmg-lightning, .dmg-shock { background-color:#609 }
.dmg-poison { background-color:#360 }
.dmg-disease { background-color:#960 }
.dmg-physical { background-color:#C60 }
.dmg-magic { background-color:#099 }
.dmg-heal { background-color:#CC3 }

.formulaID { color:#F60; font-style:italic; }

.formula { padding: 2px 10px; }
.eqn { 
	font-family: "Courier New", Courier, monospace;
	font-size: 0.85em;
	text-align: center;
	display: inline-block;
}

.eqn .var {
	font-weight: bold;
}

.eqn .coef {
	color: #C60;
}

.rsq {
	font-size: 0.8em;
	margin-left: 15px;
}

.col {
	width: 640px;
	padding: 10px;
	margin: 20px;
	min-height: 400px;
}

div.paginateContain { text-align: center; }
div.paginateContain .pagination { margin: 0px auto; }

[draggable] {
	cursor: move;
}

#loadout .skill .info {
	display: none;
}

.calcResult {
	display: inline-block;
	margin: 0px 15px;
	width: 50px;
	text-align: center;
	font-weight: bold;
	background-color: #FFE;
	border: 1px solid #ABC;
	border-radius: 6px;
}

.vpscroll {
	height: 80vh;
	overflow: auto;
}